DATABASE_URL=

VTPASS_API_KEY=
VTPASS_SECRET_KEY=

PAYSTACK_SECRET_KEY=
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
FLUTTERWAVE_SECRET_KEY=

STELLAR_NETWORK=testnet
STELLAR_PAY_TO=
SOROBAN_CONTRACT_ID=

PORT=3000
